<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781386630203-ssokof9fuq53d8ikri2he65t99dju60d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781386630203-ssokof9fuq53d8ikri2he65t99dju60d</string>
	<key>API_KEY</key>
	<string>AIzaSyAnPwQ15rw8k1EeDjJjQxl2hZCv--ktAXs</string>
	<key>GCM_SENDER_ID</key>
	<string>781386630203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandy.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-2b342</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-2b342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781386630203:ios:19da5d595998f07335881e</string>
</dict>
</plist>